<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <link rel="shortcut icon" type="image/png" href="{{ 'super-sleeper-pro-favicon-icon.png' | asset_url }}">
    
    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    {{ 'checkout.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="newssp_checkout">
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        <div class="checkoutlogo_review">
          {{ content_for_logo }}

          <img class="googleimg mobile" src="https://cdn.shopify.com/s/files/1/0098/8915/3081/files/ssp_googletrusted_2x_a489e039-2682-47e4-a8bb-60f3e7117281.webp?v=1678942445" alt="Super Sleeper Pro - Google Trusted Store">
        </div>
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            <div class="checkoutlogo_review">
              {{ content_for_logo }}
              <img class="googleimg desktop" src="https://cdn.shopify.com/s/files/1/0098/8915/3081/files/ssp_googletrusted_2x_a489e039-2682-47e4-a8bb-60f3e7117281.webp?v=1678942445" alt="Super Sleeper Pro - Google Trusted Store">
            </div>
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

  </body>
</html>
