<style> @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Roboto:wght@300;400;500;700;900&family=Russo+One&display=swap'); </style>

<div class="home-best-selling-mattress handleslickarrow" 
    style="
        {%- if section.settings.margin-top == 0 -%}
            margin-top: 0;
        {%- else -%}
            margin-top: clamp(1em, 4vw, {{ section.settings.margin-top }}em); 
        {%- endif -%}

        {%- if section.settings.margin-bottom == 0 -%}
            margin-bottom: 0;
        {%- else -%}
            margin-bottom: clamp(1em, 2vw, {{section.settings.margin-bottom}}em); 
        {%- endif -%}
    ">
    <div class="page-width">
        <div class="main-container">
            <div class="content">
                <h6>{{- section.settings.minititle -}}</h6>
                <h2 class="home_title">{{- section.settings.title -}}</h2>

                <div class="media mobile pos_relative" style="display: none;">
                    {{- section.settings.media -}}
    
                    <div class="pos_absolute">
                        <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="81px" height="86px" viewBox="0 0 81 86" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>A1E2A00C-E2A0-4B16-B923-BD18E073C064</title>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="SSP_Home_8_DT" transform="translate(-1173.000000, -2262.000000)" fill="#FD3170" fill-rule="nonzero">
                                        <g id="Group-22-Copy" transform="translate(1213.452796, 2305.007359) rotate(-236.000000) translate(-1213.452796, -2305.007359) translate(1179.560660, 2280.004311)">
                                            <path d="M54.7952065,44.9992225 C39.1216881,44.9992225 12.4836982,39.0991602 0.168330887,1.95101795 C-0.589349518,0.241757685 1.38568367,-1.01774531 2.61369597,1.14976109 C9.82560265,22.9043685 22.7080978,36.2652049 40.9051741,40.8615869 C54.5286611,44.3042999 66.216646,41.2787371 66.3316355,41.248369 L67,43.7226403 C66.8481772,43.7628369 61.9701326,45 54.7950226,45 L54.7952065,44.9992225 Z" id="Path"></path>
                                            <path d="M57.0605189,50.0060967 C56.6399502,50.0060967 56.2291918,49.7889238 55.9855502,49.3928176 C55.6058844,48.7740574 55.7792719,47.9521549 56.3714299,47.5560344 L64.0881149,42.4038556 L57.7885759,38.4780355 C57.1839785,38.1014123 56.9865887,37.2850669 57.3475672,36.6551688 C57.7085456,36.0234183 58.4900927,35.8174974 59.0947128,36.1950468 L67.1635218,41.2230223 C67.5422999,41.4595761 67.7779067,41.8835081 67.7841434,42.34458 C67.7903672,42.8056282 67.5689744,43.2369911 67.1964353,43.4856113 L57.745761,49.7955163 C57.5332597,49.9383762 57.2949648,50.0060967 57.0602457,50.0060967 L57.0605189,50.0060967 Z" id="Path"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        <h5 class="designfont">{{- section.settings.asseenontv -}}</h5>
                    </div>
                </div>

                <ul>
                    {%- for block in section.blocks -%}
                        <li>{{- block.settings.svgimg -}} {{ block.settings.listtitle }}</li>
                    {%- endfor -%}
                    <li></li>
                </ul>

                <a href="{{- section.settings.url -}}">
                    SHOP NOW

                    <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="11px" height="11px" viewBox="0 0 11 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>8EB0409D-A75A-4EB1-A2DC-0A3F9DB9E578</title>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="SSP_Home_8_DT" transform="translate(-215.000000, -1694.000000)" fill="#FFFFFF">
                                    <g id="Group-Copy-5" transform="translate(108.000000, 1679.000000)">
                                        <g id="Group-23" transform="translate(18.000000, 11.000000)">
                                            <g id="icons/20/arrowright" transform="translate(89.000000, 4.000000)">
                                                <path d="M8.48018717,5.27855544 L3.77959599,1.17170653 L3.77966068,1.17170653 C3.72338275,1.1223355 3.65047846,1.09673223 3.57615331,1.10033452 C3.50176193,1.10387044 3.43157515,1.13628202 3.38014769,1.19082601 C3.32878481,1.24530461 3.30006458,1.31778966 3.3,1.39315117 L3.3,9.60684899 C3.30006468,9.68221553 3.32878646,9.75470058 3.38014769,9.80917416 C3.43157515,9.86371814 3.50176193,9.8961304 3.57615331,9.89966564 C3.65048012,9.90326693 3.72338275,9.87766466 3.77966068,9.82829364 L8.48025185,5.72144473 L8.48018717,5.72144473 C8.54358098,5.66578771 8.58,5.58498671 8.58,5.49999338 C8.58,5.41500004 8.54358098,5.33420073 8.48018717,5.27854203 L8.48018717,5.27855544 Z" id="Path"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                </a>
            </div>

            <div class="media desktop pos_relative">
                {{- section.settings.media -}}

                <div class="pos_absolute">
                    <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="81px" height="86px" viewBox="0 0 81 86" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>A1E2A00C-E2A0-4B16-B923-BD18E073C064</title>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="SSP_Home_8_DT" transform="translate(-1173.000000, -2262.000000)" fill="#FD3170" fill-rule="nonzero">
                                    <g id="Group-22-Copy" transform="translate(1213.452796, 2305.007359) rotate(-236.000000) translate(-1213.452796, -2305.007359) translate(1179.560660, 2280.004311)">
                                        <path d="M54.7952065,44.9992225 C39.1216881,44.9992225 12.4836982,39.0991602 0.168330887,1.95101795 C-0.589349518,0.241757685 1.38568367,-1.01774531 2.61369597,1.14976109 C9.82560265,22.9043685 22.7080978,36.2652049 40.9051741,40.8615869 C54.5286611,44.3042999 66.216646,41.2787371 66.3316355,41.248369 L67,43.7226403 C66.8481772,43.7628369 61.9701326,45 54.7950226,45 L54.7952065,44.9992225 Z" id="Path"></path>
                                        <path d="M57.0605189,50.0060967 C56.6399502,50.0060967 56.2291918,49.7889238 55.9855502,49.3928176 C55.6058844,48.7740574 55.7792719,47.9521549 56.3714299,47.5560344 L64.0881149,42.4038556 L57.7885759,38.4780355 C57.1839785,38.1014123 56.9865887,37.2850669 57.3475672,36.6551688 C57.7085456,36.0234183 58.4900927,35.8174974 59.0947128,36.1950468 L67.1635218,41.2230223 C67.5422999,41.4595761 67.7779067,41.8835081 67.7841434,42.34458 C67.7903672,42.8056282 67.5689744,43.2369911 67.1964353,43.4856113 L57.745761,49.7955163 C57.5332597,49.9383762 57.2949648,50.0060967 57.0602457,50.0060967 L57.0605189,50.0060967 Z" id="Path"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    <h5 class="designfont">{{- section.settings.asseenontv -}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Home Best Selling",
        "class": "gloabl-home-best-selling-mattress",
        "settings": [
            {
                "type": "html",
                "label": "Title",
                "id": "minititle",
                "default": "Make your mattress feel brand new instantly!"
            },
            {
                "type": "html",
                "label": "Title",
                "id": "title",
                "default": "The Best Selling Mattress Topper"
            },
            {
                "type": "url",
                "label": "URL Link",
                "id": "url",
                "default": "/"
            },
            {
                "type": "html",
                "label": "As Seen On TV",
                "id": "asseenontv",
                "default": "As Seen On TV!"
            },
            {
                "type": "html",
                "label": "Vimeo Video",
                "id": "media"
            },
            {
                "type": "range",
                "id": "margin-top",
                "label": "Margin Top",
                "min": 0,
                "max": 6,
                "step": 0.5,
                "unit": "em",
                "default": 1
            },
            {
                "type": "range",
                "id": "margin-bottom",
                "label": "Margin Bottom",
                "min": 0,
                "max": 6,
                "step": 0.5,
                "unit": "em",
                "default": 1
            }
        ],
        "blocks":[
            {
                "name": "Lists",
                "type": "Title",
                "settings": [
                    {
                        "type": "html",
                        "label": "SVG Image",
                        "id": "svgimg"
                    },
                    {
                        "type": "html",
                        "label": "Title",
                        "id": "listtitle"
                    }
                ]
            }
        ],
        "presets":[
            {
                "category": "Two Column",
                "name": "New Column"   
            }
        ]
    }
{% endschema %}
