<div class="customer_reviews handleslickarrow">
    <div class="manual_review pos_relative">
        <div class="lightbluebg"></div>
        <div class="imagesection pos_relative">
            {% assign imageUrl = section.settings.image %}
            {% if imageUrl == blank %}
                <img src="https://cdn.shopify.com/s/files/1/0098/8915/3081/files/ssp_first_review_9d69445f-ce56-49e8-826a-d484afbdef7b_389x.png?v=1670393323" loading="lazy">
            {%- else -%}
                <img srcset="
                        {{ section.settings.image | img_url: '778x' }} 778w,
                        {{ section.settings.image | img_url: '600x' }} 600w,
                        {{ section.settings.image | img_url: '680x' }} 680w,
                        {{ section.settings.image | img_url: '260x' }} 260w
                    "
                width="330"
                height="422"
                sizes="
                    (max-width: 600px) 130px,
                    (max-width: 790px) 340px,
                    (max-width: 1200px) 300px,
                    389px
                "
                alt="Our happy customers"
                > 
            {% endif %}

            <div class="imgcontent pos_relative">
                <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="64px" height="79px" viewBox="0 0 64 79" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>6F84A6A6-8C08-4C2A-AAC8-457E051BD458</title>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="SSP_Home_8_DT" transform="translate(-321.000000, -3022.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                <g id="mod/testimonials-2a-DT" transform="translate(0.000000, 2803.000000)">
                                    <g id="Group-22-Copy" transform="translate(353.182425, 258.479922) rotate(-252.000000) translate(-353.182425, -258.479922) translate(319.682425, 235.979922)">
                                        <path d="M54.7952065,44.9992225 C39.1216881,44.9992225 12.4836982,39.0991602 0.168330887,1.95101795 C-0.589349518,0.241757685 1.38568367,-1.01774531 2.61369597,1.14976109 C9.82560265,22.9043685 22.7080978,36.2652049 40.9051741,40.8615869 C54.5286611,44.3042999 66.216646,41.2787371 66.3316355,41.248369 L67,43.7226403 C66.8481772,43.7628369 61.9701326,45 54.7950226,45 L54.7952065,44.9992225 Z" id="Path"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                
                <div>
                    <h4>
                        “When you wake up in the morning, you feel absolutely fabulous."
                    </h4>

                    <h5>Paula Duncan</h5>
                    <p>Logie Award Winning Actor</p> 
                </div>
            </div>
        </div>
        <div class="container aligndiv">
            <div class="review_contents">
                <div>
                    <h2 class="home_title">
                        {{- section.settings.heading -}}
                    </h2>
                    <div class="gridcol">
                        {% for block in section.blocks %}
                            <div class="grid_child">
                                <div>
                                    <div class="verified">
                                        <svg width="80" height="14" viewBox="0 0 80 14" xmlns="http://www.w3.org/2000/svg"><g fill="#FFB829" fill-rule="evenodd"><path d="M71.996 11.368l-3.94 2.42c-.474.292-.756.096-.628-.443l1.074-4.53-3.507-3.022c-.422-.363-.324-.693.24-.74l4.602-.37 1.778-4.3c.21-.51.55-.512.762 0l1.78 4.3 4.602.37c.552.046.666.37.237.74l-3.507 3.02 1.075 4.532c.127.536-.147.74-.628.444l-3.94-2.422zM55.996 11.368l-3.94 2.42c-.474.292-.756.096-.628-.443l1.074-4.53-3.507-3.022c-.422-.363-.324-.693.24-.74l4.602-.37 1.778-4.3c.21-.51.55-.512.762 0l1.78 4.3 4.602.37c.552.046.666.37.237.74l-3.507 3.02 1.075 4.532c.127.536-.147.74-.628.444l-3.94-2.422zM40.123 11.368l-3.94 2.42c-.475.292-.756.096-.63-.443l1.076-4.53-3.508-3.022c-.422-.363-.324-.693.24-.74l4.602-.37 1.778-4.3c.21-.51.55-.512.762 0l1.778 4.3 4.603.37c.554.046.667.37.24.74l-3.508 3.02 1.075 4.532c.127.536-.147.74-.628.444l-3.94-2.422zM24.076 11.368l-3.94 2.42c-.475.292-.757.096-.63-.443l1.076-4.53-3.507-3.022c-.422-.363-.324-.693.238-.74l4.603-.37 1.78-4.3c.21-.51.55-.512.76 0l1.78 4.3 4.602.37c.554.046.667.37.24.74l-3.508 3.02 1.074 4.532c.127.536-.146.74-.628.444l-3.94-2.422zM8.123 11.368l-3.94 2.42c-.475.292-.756.096-.63-.443l1.076-4.53L1.12 5.792c-.422-.363-.324-.693.24-.74l4.602-.37 1.778-4.3c.21-.51.55-.512.762 0l1.778 4.3 4.603.37c.554.046.667.37.24.74l-3.508 3.02 1.075 4.532c.127.536-.147.74-.628.444l-3.94-2.422z"/></g></svg>
                                    </div>

                                    <h3>{{- block.settings.title -}}</h3>
                                    
                                    <p>{{- block.settings.body -}}</p>
                                    
                                </div>

                                <h2>{{- block.settings.name -}}</h2>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="review_link" href="{{ section.settings.url }}">
                        VIEW MORE REVIEWS
                    <svg width="11px" height="11px" viewBox="0 0 11 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>8EB0409D-A75A-4EB1-A2DC-0A3F9DB9E578</title>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="#242424" fill-rule="evenodd">
                            <g id="SSP_Home_8_DT" transform="translate(-215.000000, -1694.000000)" fill="#242424">
                                <g id="Group-Copy-5" transform="translate(108.000000, 1679.000000)">
                                    <g id="Group-23" transform="translate(18.000000, 11.000000)">
                                        <g id="icons/20/arrowright" transform="translate(89.000000, 4.000000)">
                                            <path d="M8.48018717,5.27855544 L3.77959599,1.17170653 L3.77966068,1.17170653 C3.72338275,1.1223355 3.65047846,1.09673223 3.57615331,1.10033452 C3.50176193,1.10387044 3.43157515,1.13628202 3.38014769,1.19082601 C3.32878481,1.24530461 3.30006458,1.31778966 3.3,1.39315117 L3.3,9.60684899 C3.30006468,9.68221553 3.32878646,9.75470058 3.38014769,9.80917416 C3.43157515,9.86371814 3.50176193,9.8961304 3.57615331,9.89966564 C3.65048012,9.90326693 3.72338275,9.87766466 3.77966068,9.82829364 L8.48025185,5.72144473 L8.48018717,5.72144473 C8.54358098,5.66578771 8.58,5.58498671 8.58,5.49999338 C8.58,5.41500004 8.54358098,5.33420073 8.48018717,5.27854203 L8.48018717,5.27855544 Z" id="Path"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>



{% schema %}
{
   "name": "Review",
   "max_blocks": 12,
   "settings":[
        {
            "id": "heading",
            "type": "text",
            "label": "Heading",
            "default": "Customers"
        },
        {
            "id": "checkbox",
            "type": "checkbox",
            "label": "Autoplay",
            "default": false
        },
        {
           "type": "image_picker",
           "label": "Image",
           "id": "image"
        },
        {
            "type": "url",
            "label": "URL",
            "id": "url"
         }
   ],
   "blocks":[
        {
            "type": "review",
            "name": "Review",
            "settings":[
                {
                   "type": "text",
                   "id": "title",
                   "label": "Title"
                },
                {
                   "type": "html",
                   "id": "body",
                   "label": "Body"
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Name"
                 }
            ]
        }
   ],
  "presets": [
      {
          "category": "Review",
          "name":"Display Review"
      }
  ]
}
{% endschema %}

<style>
    .manual_review .grid{
        display: grid;
        grid-gap: 10px;
        padding: 0 20px;
        grid-auto-flow: column;
        grid-auto-columns: 33.33%;
        overflow: hidden;
        overflow-x: scroll;
    }
</style>


<script>
    let reviewCarousel = document.querySelector('.review_contents .gridcol')

    let reviewCarouselE = new Flickity(reviewCarousel, {
        imagesLoaded: true,
        contain: true,
        percentPosition: true,
        autoPlay: {{ section.settings.checkbox }},
        initialIndex: 1
    })
</script>