<div class="home_priority_club">
    <div class="background">
        <img src="{{ section.settings.background_image | img_url:'master' }}" alt="{% if section.settings.background_image.alt %}{{section.settings.background_image.alt}}{% else %}Super Sleeper Pro - Priority club{% endif %}" loading="lazy" class="img-fluid priority_background" />
    </div>
    
    <div class="page-width">
      <div class="gridsection">
        <div class="pos_relative supersleeperimg">
          <img src="{{ section.settings.front_image | img_url:'master' }}" alt="{% if section.settings.front_image.alt %}{{ section.settings.front_image.alt }}{% else %}Super Sleeper Pro - Priority club{% endif %}" loading="lazy" class="img-fluid priority_logo" />
        </div>
  
        <div class="gridchild">
          {%- for block in section.blocks -%}
            <div class="gridchildcontent">
              <?xml version="1.0" encoding="UTF-8"?>
                <svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>8AB5F17C-4B7C-4B89-8214-1E9E7BBA2886</title>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="SSP_Home_8_DT" transform="translate(-581.000000, -5458.000000)" fill="#FFFFFF" fill-rule="nonzero">
                            <g id="mod/sspc-3-DT" transform="translate(0.000000, 5347.040564)">
                                <g id="Check" transform="translate(581.000000, 110.959436)">
                                    <g id="icons/20/cloudcheck" transform="translate(-0.000000, 0.000000)">
                                        <g id="cloud-check-light" transform="translate(3.600000, 7.200000)">
                                            <path d="M13.4685,14.6422768 C13.1895,14.9207143 12.7305,14.9207143 12.4515,14.6422768 L9.5715,11.8137054 C9.288,11.5396875 9.288,11.0888839 9.5715,10.8148661 C9.8505,10.5364286 10.3095,10.5364286 10.5885,10.8148661 L12.96,13.1440179 L18.2115,7.98629464 C18.4905,7.70785714 18.9495,7.70785714 19.2285,7.98629464 C19.512,8.2603125 19.512,8.71111607 19.2285,8.98513393 L13.4685,14.6422768 Z M12.24,0 C14.9175,0 17.2845,1.30600446 18.72,3.30589286 C19.3725,2.99961161 20.106,2.82857143 20.88,2.82857143 C23.6655,2.82857143 25.92,5.0428125 25.92,7.77857143 C25.92,8.25147321 25.8525,8.66691964 25.7265,9.13982143 C27.5535,10.085625 28.8,11.9728125 28.8,14.1428571 C28.8,17.2675446 26.2215,19.8 23.04,19.8 L6.48,19.8 C2.90115,19.8 0,16.9493304 0,13.4357143 C0,10.6601786 1.80675,8.30450893 4.32765,7.42941964 C4.5135,3.29705357 7.983,0 12.24,0 Z M12.24,1.41428571 C8.757,1.41428571 5.9175,4.11026786 5.7645,7.49129464 C5.742,8.07026786 5.3595,8.53433036 4.806,8.76415179 C2.8431,9.44477679 1.44,11.2789286 1.44,13.4357143 C1.44,16.1714732 3.6963,18.3857143 6.48,18.3857143 L23.04,18.3857143 C25.425,18.3857143 27.36,16.4852679 27.36,14.1428571 C27.36,12.5164286 26.4285,11.1021429 25.056,10.3905804 C24.453,10.0370089 24.156,9.39174107 24.3405,8.71111607 C24.4305,8.44151786 24.48,8.11888393 24.48,7.77857143 C24.48,5.82508929 22.869,4.24285714 20.88,4.24285714 C20.3265,4.24285714 19.8045,4.36660714 19.3365,4.58316964 C18.7065,4.87928571 17.946,4.68040179 17.541,4.11910714 C16.3665,2.48030357 14.4315,1.41428571 12.24,1.41428571 L12.24,1.41428571 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
              
              <p>{{block.settings.content}}</p>
            </div>
          {%- endfor -%}
  
          <div class="container alinkfindoutmore">
            <a class="arrowlink" href="{{ section.settings.link }}">{{section.settings.html}}
            <?xml version="1.0" encoding="UTF-8"?>
              <svg width="13px" height="13px" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>99A2F074-8F0C-4331-BC10-66021768EB9C</title>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="SSP_Home_8_DT" transform="translate(-1310.000000, -5567.000000)" fill="#FFFFFF">
                          <g id="mod/sspc-3-DT" transform="translate(0.000000, 5347.040564)">
                              <g id="icons/20/arrowright" transform="translate(1310.500000, 220.000000)">
                                  <path d="M9.25111327,5.75842411 L4.12319563,1.2782253 L4.12326619,1.2782253 C4.06187209,1.224366 3.98234014,1.19643516 3.90125816,1.20036494 C3.82010392,1.2042223 3.74353653,1.23958039 3.68743384,1.29908292 C3.63140161,1.35851412 3.60007046,1.43758872 3.6,1.51980128 L3.6,10.4801989 C3.60007056,10.5624169 3.63140341,10.6414915 3.68743384,10.7009173 C3.74353653,10.7604198 3.82010392,10.7957786 3.90125816,10.7996352 C3.98234195,10.8035639 4.06187209,10.7756342 4.12326619,10.7217749 L9.25118384,6.24157607 L9.25111327,6.24157607 C9.32027016,6.18085932 9.36,6.09271278 9.36,5.99999278 C9.36,5.90727278 9.32027016,5.81912806 9.25111327,5.75840948 L9.25111327,5.75842411 Z" id="Path"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>
            </a> 
          </div>
  
        </div>
      </div>
  
  
    </div>
  
  </div>
  
  {% schema %}
    {
      "name": "Priority Club",
      "settings": [
          {
              "type": "image_picker",
              "label": "Background Image",
              "id": "background_image"
          },
          {
              "type": "image_picker",
              "label": "Background Image",
              "id": "front_image"
          },
          {
              "type": "html",
              "label": "Contents",
              "id": "html"
          },
          {
              "type": "url",
              "label": "URL Link",
              "default": "/",
              "id": "link"
          }
      ],
    "blocks":[
      {
        "name": "Columns",
        "type": "column",
        "settings": [
          {
            "type": "html",
            "label": "Content",
            "id": "content"
          }
        ]
      }
    ],
      "presets": [
          {
              "name": "Priority Club",
              "category": "Single Column"
  
          }
      ]
    }
  {% endschema %}
  
  <style>
    .home_priority_club:hover img.priority_logo{
      transform: scale(1.05);
      transition: 0.5s all;
    }
    
    .home_priority_club .align_right{
        text-align: right;
      margin-top: 1em;
    }
  
    @media (max-width: 1199px){
      .home_priority_club img.priority_logo{
          max-width: 500px;
      }
      
      .home_priority_club .align_right{
          margin-top: 0.5em;
      }
    }
    
    @media (max-width: 991px){    
      .home_priority_club img.priority_logo {
          max-width: 426px;
          width: 100%;
      }
    }
    
    @media (max-width: 410px){
      .home_priority_club img.priority_logo {
        max-width: 266px;
        width: 100%;
      }
      
    }
    
    @media (max-width: 520px){
      .home_priority_club img.priority_logo {
        max-width: 330px;
        width: 100%;
      }
      
    }
    
    
    @media (max-width: 380px){
        .home_priority_club img.priority_logo {
          max-width: 294px;
          width: 100%;
      }
    }
    
  
  </style>
  
  {% javascript %}
  {% endjavascript %}
  